#FlipCard {
    position: relative;
    width: 200px;
    height: 200px;
    cursor: pointer;
    text-align: center;
    

}

#flipPart1 {
    background-color: green;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all .6s;
    /* backface-visibility: hidden; */
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    color: white;
}

#controlflip {
    background-color: gray;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 1s;
} 

#flipPart2 {
    background-color: blue;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: all .6s;
    /* transform: rotateY(0deg); */
    /* transform-style: preserve-3d; */
    backface-visibility: hidden;

}

/* .flipPart2:hover {
    transform: rotateY(180deg);
} */